.buttonthsp {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonthsp2 {background-color: #008CBA;} /* Blue */
.buttonthsp3 {background-color: #f44336;} /* Red */ 
.buttonthsp4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.buttonthsp5 {background-color: #555555;} /* Black */

.animated-button button {
  display: block;
  margin-top: -0.4rem;
  width: 100%;
  border-radius: .25rem;
  background-color: #ff1949;
  color: #ffffff;
  border: none;
  padding: 9px 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 500;
  font-size: 15px;
}

.animated-button button:hover, .banner-wrapper-content form button:focus {
  background-color: #0eb582;
  color: #ffffff;
}